#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    align-items: stretch;
}

.connectDiv {
    margin: 10%;
}

.todoDiv {
    margin: 10%;
}

.projectDiv {
    margin: 10%;
}

.projectDiv>ul {
    list-style-type: none;
}

.hoverUnderline {
    display: inline-block;
    position: relative;
}

.hoverUnderline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #797edb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverUnderline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.imageHover {
    width: 300px;
    height: 300px;
    background-image: url("/pictures/Icon.png");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    border-radius: 50%;
}

.imageHover:hover {
    background-image: url("/pictures/coraline-dad-type.gif");
}

.aboutDiv {
    padding: 50px;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1000px;
    border: solid;
}

.mainSection {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.nameSection {
    flex: 1;

}

.nameSection p {
    flex: 1;
}

/* .nameSection>h1, */
/* img { */
/*     margin-right: 5%; */
/* } */

/* @media (max-width: 768px) { /* Adjust breakpoint as needed */
*/
/*   .site-nav ul { */
/*     display: none; /* Hide the full menu */
*/
/*   } */
/**/
/*   .hamburger-button { */
/*     display: block; /* Show the hamburger button */
*/
/*   } */
/**/
/*   /* Styles to show the menu when the 'open' class is added to the nav */
*/
/*   .site-nav.open ul { */
/*     display: block; /* Show the menu when the button is clicked */
*/
/*   } */
/* } */

.read-the-docs {
    color: #888;
}
