:root {
    scroll-behavior: smooth;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #f0f0f0;
    /* color: rgba(255, 255, 255, 0.87); */
    background-color: #0f0f0f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 18px;
    color: #ccc;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: #a2a7f5;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: inherit;
    color: inherit;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    border-bottom: 2px solid #797edb;
    padding-bottom: 10px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #f0f0f0;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
